<%- include('../partials/head.ejs') %>
<body>

<!-- <%- include('../partials/header.ejs') %> -->

    <div class="container">
        <a href="/categories">Go to categories</a>
        <%- include("../partials/errors.ejs") %>

        <h1>Create New Category</h1>

        <form method="post" action="/categories/new">
            <label for="category">Name of category:</label>
            <input type="text" id="category" name="category" required>

            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
            <button type="submit" class="submit-btn">Submit</button>
        </form>        
    </div>




<%- include('../partials/footer.ejs') %>

</body>
</html>