<%- include('../partials/head.ejs') %>
<body>

    <div class="container">
        <a class="go-to-categories" href="/categories">Go To Categories</a>
        <%- include("../partials/errors.ejs") %>

        <h2>Create New Category</h2>
        <div class="create-category content">
            <form method="post" action="/categories/new">
            <label for="category">Name of category:</label>
            <input type="text" id="category" name="category" required>

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <button type="submit" class="submit-btn">Submit</button>
        </form>   
        </div>
     
    </div>


<%- include('../partials/footer.ejs') %>

</body>
</html>